.btn{
    margin: 10px;
    width: 100px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: blue;
    border-radius: 10px;
    border: 0;
    &:hover{
        border: 0;
        background-color: rgb(0, 0, 133);
    }
}
.uploadForm {

    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #ababab;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    label {
      font-size: 14px;
      color: #333;
      margin-bottom: 6px;
      display: block;
    }
  
    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }
  
    input[type="file"] {
      border: none;
      padding: 0;
    }
  
    input[type="file"]:hover {
      cursor: pointer;
    }
  
    br {
      display: none; 
    }

  
    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
  }
  